* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorTextLight: hsl(241, 100%, 89%);
    --colorTextWhite: hsl(0, 0%, 100%);
    --backgroundGradient: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

h2 {
    font-size: clamp(18px, 3vw, 22px);
}

.obal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius:30px;
    width: 700px;
    max-width: 100%;
    box-shadow: 10px 18px 50px 3px hsla(241, 72%, 46%, 0.1);
}

.table__result{
    background: var(--backgroundGradient);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 35px 50px;
    gap: 30px;
}

.table__result h2 {
    color: var(--colorTextLight); 
}

.table__circle {
    height: 200px;
    width: 200px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: inline-flex;
    color: hsl(241, 100%, 89%,0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table__circle span{
    font-size: 70px;
    font-weight: 800;
    color: var(--colorTextWhite);    
}

.table__text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.table__text h3 {
    color: var(--colorTextWhite);
    font-size: clamp(20px, 3vw, 30px);
}

.table__text p {
    color: var(--colorTextLight);
    max-width: 220px;
}

.table__summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 35px 50px;
}

.table__summary h2 {
    color: hsl(224, 30%, 27%);
    text-align: left;
}

.table__senses {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.table__sense {
    display: flex;
    border-radius: 10px;
    gap: 20px;
    width: 100%;
    padding: 15px 15px;
    align-items: center;
    justify-content: space-between;
}

.table__sense--red { background-color: hsla(0, 100%, 67%, 0.1); }
.table__sense--yellow { background-color: hsla(39, 100%, 56%, 0.1); }
.table__sense--green { background-color: hsla(166, 100%, 37%, 0.1); }
.table__sense--blue { background-color: hsla(234, 85%, 45%, 0.1); }

.table__sense--red .table__sense-title { color: hsl(0, 100%, 67%); }
.table__sense--yellow .table__sense-title { color: hsl(39, 100%, 56%); }
.table__sense--green .table__sense-title { color: hsl(166, 100%, 37%); }
.table__sense--blue .table__sense-title { color: hsl(234, 85%, 45%); }

.table__sense-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.table__sense-value {
    font-weight: 700;
    color: hsl(224, 30%, 27%, 0.5);
}

.table__sense-value span {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

button {
    appearance: none;
    background: var(--backgroundGradient);
    color: var(--colorTextWhite);
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    width: 100%;
    transition-property: background;
}

button:hover {
    background: hsl(224, 30%, 27%);
}

@media only screen and (max-width: 610px) {    
    .table{
      flex-flow: column wrap;
      }

    .table__result{
        gap: 20px;
       }
      
    .table__circle {
        height: 135px;
        width: 135px;
        font-size: 14px;
    }

    .table__circle span {
       font-size: 50px;

    }

    .table__text p {
        font-size: 14px;
    }

    .table__sense--red { background-color: hsla(0, 100%, 67%, 0.06); }
    .table__sense--yellow { background-color: hsla(39, 100%, 56%, 0.06); }
    .table__sense--green { background-color: hsla(166, 100%, 37%, 0.06); }
    .table__sense--blue { background-color: hsla(234, 85%, 45%, 0.06); }

    button {
        font-size: 15px;
    }

}
